alembic
anyio
argon2-cffi
async-generator==1.10
attrs
Babel
backcall
backports.functools-lru-cache==1.6.1
bleach
blinker==1.4
brotlipy==0.7.0
certifi==2020.12.5
certipy==0.1.3
cffi
chardet
cryptography
cycler==0.10.0
Cython==0.29.23
decorator==4.4.2
defusedxml==0.6.0
entrypoints
idna
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
jedi
Jinja2
joblib==1.0.1
json5
jsonschema==3.2.0
jupyter-client
jupyter-core
jupyter-offlinenotebook
jupyter-resource-usage
jupyter-server
jupyter-telemetry
jupyterhub
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver==1.3.1
llvmlite==0.36.0
Mako
MarkupSafe
matplotlib==3.4.1
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
nteract-on-jupyter==2.1.3
numba==0.53.1
numpy==1.20.2
oauthlib==3.0.1
packaging
pamela==1.0.0
pandas==1.2.4
pandocfilters==1.4.2
parso
patsy==0.5.1
pexpect==4.8.0
pickleshare
Pillow==8.2.0
prometheus-client
prompt-toolkit
psutil
ptyprocess
pycparser
pycurl==7.43.0.6
Pygments
PyJWT
pyOpenSSL
pyparsing==2.4.7
pyrsistent
PySocks
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger
pytz
pyzmq
requests
ruamel.yaml
ruamel.yaml.clib
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
Send2Trash==1.5.0
six
-e git+https://github.com/alan-turing-institute/sktime.git@4be4866ac50f0c6ce422716d529e95bfbf25411d#egg=sktime
sniffio
SQLAlchemy
statsmodels==0.12.2
terminado
testpath==0.4.4
threadpoolctl==2.1.0
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings==0.5.1
widgetsnbextension
zipp
